@import 'default'

*
  margin: 0
  padding: 0
  font-family: 'FuturaPT'
  color: color('main')

html, body
  height: 100%

.wrapper
  display: flex
  flex-direction: column
  min-height: 100%
.body
  flex: 1 0 auto
footer
  flex: 0 0 auto

#content
  margin: 0 auto

h1, h2, h3, h4, h5, h6
  @include font-weight('bold')
  color: color('secondary')

p
  color: color('secondary')

ul
  list-style: none

@import 'common/header/header'
@import 'common/footer/footer'
