@font-face
	font-family: 'FuturaPT'
	src: url('../../public/fonts/FuturaPT-Book.eot')
	src: local('☺'), url('../../public/fonts/FuturaPT-Book.woff') format('woff'), url('../../public/fonts/FuturaPT-Book.ttf') format('truetype'), url('../../public/fonts/FuturaPT-Book.svg') format('svg')
	font-weight: 350
	font-style: normal


@font-face
	font-family: 'FuturaPT'
	src: url('../../public/fonts/FuturaPT-Medium.eot')
	src: local('☺'), url('../../public/fonts/FuturaPT-Medium.woff') format('woff'), url('../../public/fonts/FuturaPT-Medium.ttf') format('truetype'), url('../../public/fonts/FuturaPT-Medium.svg') format('svg')
	font-weight: 500
	font-style: normal


@font-face
	font-family: 'FuturaPT'
	src: url('../../public/fonts/FuturaPT-Demi.eot')
	src: local('☺'), url('../../public/fonts/FuturaPT-Demi.woff') format('woff'), url('../../public/fonts/FuturaPT-Demi.ttf') format('truetype'), url('../../public/fonts/FuturaPT-Demi.svg') format('svg')
	font-weight: 600
	font-style: normal


@font-face
	font-family: 'FuturaPT'
	src: url('../../public/fonts/FuturaPT-Bold.eot')
	src: local('☺'), url('../../public/fonts/FuturaPT-Bold.woff') format('woff'), url('../../public/fonts/FuturaPT-Bold.ttf') format('truetype'), url('../../public/fonts/FuturaPT-Bold.svg') format('svg')
	font-weight: 700
	font-style: normal

$fonts: ('book':350, 'medium':500, 'demi':600, 'bold':700)

@mixin font-weight($weight)
	@each $key, $val in $fonts
		@if $weight == $key
			font-weight: $val

@mixin font($size, $weight)
	font-size: $size
	@include font-weight($weight)
