//ms - mobile s, mm - mobile m, ml - mobile l, t - tablet, l - laptop, ll - laptop l, 4k - 4k
//s m l xl xxl
$sizes: ("s":376px, "m":640px, "l":880px, "xl":1280px, "xxl":1920px)

@mixin media($minmax, $size)
  @each $key, $val in $sizes
    @if $size == $key
      @media only screen and (#{$minmax}-width: $val)
        @content

#content
  @include media('max', 'l')
    width: 90%
  @include media('min', 'l')
    width: 735.11px
  @include media('min', 'xl')
    width: 928px
  @include media('min', 'xxl')
    width: 1240px
