@import '../../../default'
@import '../../../common/buttons'
@import '../../../common/back_navigation'
@import '../../../common/title_content'
@import 'media'

.product_detail
  .title_desc p
    margin: 16px 0 0
    @include font-weight('book')
  .buy_form
    .selections-box
      justify-content: space-between
    .select-box
      width: 100%
      p
        @include font(14px, 'medium')
        margin: 0 0 6px 12px
      .select-border
        padding: 12px
        border: 1px solid #CCCCCC
        border-radius: 4px
      select
        border: 0
        font-size: 14px
        font-weight: 350
        width: 100%
    .total-box
      display: flex
      justify-content: space-between
      p
        &:first-child
          @include font-weight('book')
        &:not(:first-child)
          @include font-weight('demi')
      button
        margin: 4px
        width: 180px
  .price_element
    display: flex
    justify-content: space-between
    .desc-box
      margin: 0 16px 0 0
    p.title
      margin: 0 0 4px
      @include font-weight('demi')
    p.desc
      @include font(14px, 'book')
      color: color('tertiary')
    .price-box
      flex-shrink: 0
    h3
      color: color('main')

.product_detail
  .desc-box
    .card-box
      p
        @include font-weight('book')
  .price_elements hr
    margin: 16px 0
    border: 0
    border-top: 1px solid #F5F5FE

.product_detail
  .title_desc
    @include media('max', 'xl')
      margin: 0 0 16px 0
    @include media('min', 'xl')
      margin: 0 0 24px 0
    p
      @include media('max', 'l')
        font-size: 14px
      @include media('min', 'l')
        font-size: 16px
      @include media('min', 'xl')
        font-size: 18px
