.product_detail
  .title_desc
    @include media('max', 'xl')
      margin: 0 0 16px 0
    @include media('min', 'xl')
      margin: 0 0 24px 0
    p
      @include media('max', 'l')
        font-size: 14px
      @include media('min', 'l')
        font-size: 16px
      @include media('min', 'xl')
        font-size: 18px
  .buy_form
    @include media('max', 'l')
      margin: 0
    @include media('min', 'l')
      margin: 0 128px 0 0
    @include media('min', 'zl')
      margin: 0 320px 0 0
    .selections-box
      @include media('max', 'm')
        display: block
      @include media('min', 'm')
        display: flex
      @include media('max', 'xl')
        margin:  0 0 16px
      @include media('min', 'xl')
        margin:  0 0 32px
    .select-box:first-child
      @include media('max', 'm')
        margin: 0 0 16px
      @include media('min', 'm')
        margin: 0 32px 0 0
    .total-box
      p
        &:first-child
          @include media('max', 'l')
            font-size: 14px
          @include media('min', 'l')
            font-size: 16px
          @include media('min', 'xl')
            font-size: 18px
        &:not(:first-child)
          @include media('max', 'l')
            font-size: 20px
          @include media('min', 'l')
            font-size: 24px
          @include media('min', 'xl')
            font-size: 28px
  .price_element
    p.title, h3
      @include media('max', 'l')
        font-size: 16px
      @include media('min', 'l')
        font-size: 18px
      @include media('min', 'xl')
        font-size: 20px

.product_detail
  @include media('max', 'l')
    margin: 0 0 64px
  @include media('min', 'l')
    margin: 0 0 72px
  @include media('min', 'xl')
    margin: 0 0 128px
  @include media('max', 'xxl')
    width: 100%
  @include media('min', 'xxl')
    width: 922px
  .top-box
    @include media('max', 'xl')
      margin: 0 0 48px
    @include media('min', 'xl')
      margin: 0 0 64px
    .card-box
      @include media('max', 'm')
        display: block
      @include media('min', 'm')
        display: flex
      @include media('max', 'xl')
        margin: 0 0 32px
      @include media('min', 'xl')
        margin: 0 0 48px
      img
        @include media('max', 'm')
          height: 202px
          width: 100%
        @include media('min', 'm')
          height: 102px
          width: 160px
        @include media('min', 'l')
          height: 142px
          width: 224px
        @include media('min', 'xl')
          height: 182px
          width: 288px
        @include media('min', 'xl')
          height: 248px
          width: 392px
      p
        @include media('max', 'm')
          margin: 24px 0 0
        @include media('min', 'm')
          margin: 0 0 0 32px
        @include media('max', 'l')
          font-size: 14px
        @include media('min', 'l')
          font-size: 16px
        @include media('min', 'xl')
          font-size: 18px
  .price_elements:not(:last-child)
    @include media('max', 'xl')
      margin: 0 0 32px
    @include media('min', 'xl')
      margin: 0 0 48px
