@charset "UTF-8";
@font-face {
  font-family: "FuturaPT";
  src: url(/fonts/FuturaPT-Book.eot?55bc418ad8b9ed8d577cf4a6337a678e);
  src: local("☺"), url(/fonts/FuturaPT-Book.woff?b5e3a9b543df20c48a32d9ddeee1296b) format("woff"), url(/fonts/FuturaPT-Book.ttf?16ebcf48c36cedf12d82ee9e88a1cecf) format("truetype"), url(/fonts/FuturaPT-Book.svg?05a7613c319a05a044cdc8d568a759a3) format("svg");
  font-weight: 350;
  font-style: normal;
}
@font-face {
  font-family: "FuturaPT";
  src: url(/fonts/FuturaPT-Medium.eot?6546797acac1a68aa930f164ebc8ed4e);
  src: local("☺"), url(/fonts/FuturaPT-Medium.woff?484aaf20e2f386456543a4c0446e9d02) format("woff"), url(/fonts/FuturaPT-Medium.ttf?4ab635fb83b15f9e3627a53b063a97e1) format("truetype"), url(/fonts/FuturaPT-Medium.svg?1274940c18b387d440efaa3e514d5681) format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "FuturaPT";
  src: url(/fonts/FuturaPT-Demi.eot?a31567d0e61a549f875514072520c2fb);
  src: local("☺"), url(/fonts/FuturaPT-Demi.woff?620da53299c7d8d6e9aac79edc4b0cfa) format("woff"), url(/fonts/FuturaPT-Demi.ttf?626ca5d4172bb348ed1ad35150a49507) format("truetype"), url(/fonts/FuturaPT-Demi.svg?f919a697a10d74024b0487819eeac303) format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "FuturaPT";
  src: url(/fonts/FuturaPT-Bold.eot?c1c93dd4b376a2f9e9124e4be45a2535);
  src: local("☺"), url(/fonts/FuturaPT-Bold.woff?51c41b1b1b9b00c0652f756cfc053e77) format("woff"), url(/fonts/FuturaPT-Bold.ttf?30a810fad83f1237882bde24bf9ef8a8) format("truetype"), url(/fonts/FuturaPT-Bold.svg?f9612ae9b7801329eeb8bfb98caa9d94) format("svg");
  font-weight: 700;
  font-style: normal;
}
@media only screen and (max-width: 880px) {
  #content {
    width: 90%;
  }
}
@media only screen and (min-width: 880px) {
  #content {
    width: 735.11px;
  }
}
@media only screen and (min-width: 1280px) {
  #content {
    width: 928px;
  }
}
@media only screen and (min-width: 1920px) {
  #content {
    width: 1240px;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "FuturaPT";
  color: #d62828;
}

html, body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.body {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

#content {
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #212121;
}

p {
  color: #212121;
}

ul {
  list-style: none;
}

@media only screen and (max-width: 880px) {
  header .content {
    height: 56px;
  }
}
@media only screen and (min-width: 880px) {
  header .content {
    height: 64px;
  }
}
@media only screen and (min-width: 1280px) {
  header .content {
    height: 72px;
  }
}
@media only screen and (min-width: 1920px) {
  header .content {
    height: 81.34px;
  }
}
@media only screen and (max-width: 880px) {
  header .left-box .logos-box {
    width: 117.44px;
  }
}
@media only screen and (min-width: 880px) {
  header .left-box .logos-box {
    width: 134.22px;
  }
}
@media only screen and (min-width: 1280px) {
  header .left-box .logos-box {
    width: 151px;
  }
}
@media only screen and (min-width: 1920px) {
  header .left-box .logos-box {
    width: 170.91px;
  }
}
@media only screen and (max-width: 640px) {
  header .left-box .title-box {
    display: none;
  }
}
@media only screen and (min-width: 640px) {
  header .left-box .title-box {
    display: block;
    margin: auto 0 auto 25.78px;
  }
  header .left-box .title-box h3 {
    font-size: 16px;
  }
}
@media only screen and (min-width: 880px) {
  header .left-box .title-box {
    margin: auto 0 auto 56.89px;
  }
  header .left-box .title-box h3 {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1280px) {
  header .left-box .title-box {
    margin: auto 0 auto 33px;
  }
  header .left-box .title-box h3 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1920px) {
  header .left-box .title-box {
    margin: auto 0 auto 41.09px;
  }
}
@media only screen and (max-width: 880px) {
  header .middle-box {
    display: none;
  }
}
@media only screen and (min-width: 880px) {
  header .middle-box {
    display: block;
  }
}
@media only screen and (max-width: 880px) {
  header .right-box .user-box {
    display: none;
  }
  header .right-box .burger {
    display: block;
  }
}
@media only screen and (min-width: 880px) {
  header .right-box .user-box {
    display: flex;
  }
  header .right-box .user-box .account-box h4 {
    display: none;
  }
  header .right-box .user-box .line {
    margin: auto 8px;
  }
  header .right-box .burger {
    display: none;
  }
}
@media only screen and (min-width: 1280px) {
  header .right-box .user-box .account-box h4 {
    display: block;
  }
  header .right-box .user-box .line {
    margin: auto 8px;
  }
}
@media only screen and (min-width: 1920px) {
  header .right-box .right-box .line {
    margin: auto 24px;
  }
}

header .content {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
header .left-box {
  display: flex;
}
header .left-box .logos-box {
  display: flex;
}
header .left-box .logos-box img.logo {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
header .left-box .line {
  border-left: 2px solid red;
  height: 54px;
  margin: 0 auto;
}
header .left-box .title-box .link_strictly_color_secondary {
  text-decoration: none;
}
header .left-box .title-box .link_strictly_color_secondary:link, header .left-box .title-box .link_strictly_color_secondary:hover, header .left-box .title-box .link_strictly_color_secondary:visited {
  color: #212121;
}
header .middle-box .contacts-box .link_strictly_color_main {
  text-decoration: none;
}
header .middle-box .contacts-box .link_strictly_color_main:link, header .middle-box .contacts-box .link_strictly_color_main:hover, header .middle-box .contacts-box .link_strictly_color_main:visited {
  color: #d62828;
}
header .middle-box .contacts-box .phone {
  font-size: 18px;
  line-height: 28px;
}
header .middle-box .contacts-box .operators {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
header .middle-box .contacts-box .operators span {
  color: #777777;
}
header .middle-box .contacts-box .link {
  font-size: 14px;
  font-weight: 350;
  line-height: 20px;
  color: #d62828;
}
header .right-box {
  display: flex;
  align-items: center;
}
header .right-box a {
  display: flex;
}
header .right-box a {
  text-decoration: none;
}
header .right-box a:link, header .right-box a:hover, header .right-box a:visited {
  color: #212121;
}
header .right-box h4 {
  padding-left: 16px;
  margin: auto 0;
}
header .right-box img {
  height: 48px;
}
header .right-box .line {
  border-left: 1px solid #E5E5E5;
  height: 30px;
}
header .right-box button {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
  color: #d62828;
}

@media only screen and (max-width: 376px) {
  footer img.pattern {
    height: 48px;
    bottom: 32px;
  }
}
@media only screen and (min-width: 376px) {
  footer img.pattern {
    height: 48px;
    bottom: 32px;
  }
}
@media only screen and (min-width: 880px) {
  footer img.pattern {
    height: 48px;
    bottom: 48px;
  }
}
@media only screen and (min-width: 1280px) {
  footer img.pattern {
    height: 64px;
    bottom: 48px;
  }
}
@media only screen and (min-width: 1920px) {
  footer img.pattern {
    height: 72px;
  }
}
@media only screen and (max-width: 640px) {
  footer .content {
    padding: 32px 0 104px;
  }
}
@media only screen and (min-width: 640px) {
  footer .content {
    padding: 32px 0 96px;
  }
}
@media only screen and (max-width: 880px) {
  footer .content {
    display: block;
  }
}
@media only screen and (min-width: 880px) {
  footer .content {
    padding: 48px 0;
    display: flex;
  }
}
@media only screen and (min-width: 1280px) {
  footer .content {
    padding: 64px 0;
  }
}
@media only screen and (max-width: 880px) {
  footer .container-1 {
    margin: 0 0 24px;
  }
}
@media only screen and (min-width: 880px) {
  footer .container-1 {
    width: 288px;
    margin: 0 32px 0 0;
  }
}
@media only screen and (min-width: 1920px) {
  footer .container-1 {
    width: 498px;
  }
}
@media only screen and (max-width: 640px) {
  footer .container-2 .container .box-1 .case-1 {
    width: 144px;
  }
}
@media only screen and (min-width: 640px) {
  footer .container-2 .container .box-1 .case-1 {
    width: 160px;
  }
}
@media only screen and (min-width: 880px) {
  footer .container-2 .container .box-1 .case-1 {
    width: 160px;
  }
}
@media only screen and (min-width: 1280px) {
  footer .container-2 .container .box-1 .case-1 {
    width: 128px;
  }
}
@media only screen and (min-width: 1920px) {
  footer .container-2 .container .box-1 .case-1 {
    width: 134px;
  }
}
@media only screen and (max-width: 640px) {
  footer .container-2 .container .box-1 .case-2 {
    width: 144px;
  }
}
@media only screen and (min-width: 640px) {
  footer .container-2 .container .box-1 .case-2 {
    width: 156px;
  }
}
@media only screen and (min-width: 880px) {
  footer .container-2 .container .box-1 .case-2 {
    width: 224px;
  }
}
@media only screen and (min-width: 1280px) {
  footer .container-2 .container .box-1 .case-2 {
    width: 208px;
  }
}
@media only screen and (min-width: 1920px) {
  footer .container-2 .container .box-1 .case-2 {
    width: 286px;
  }
}
@media only screen and (max-width: 640px) {
  footer .container-2 .container .box-2 .case-1 {
    width: 144px;
  }
}
@media only screen and (min-width: 640px) {
  footer .container-2 .container .box-2 .case-1 {
    width: 160px;
  }
}
@media only screen and (min-width: 880px) {
  footer .container-2 .container .box-2 .case-1 {
    width: 160px;
  }
}
@media only screen and (min-width: 1280px) {
  footer .container-2 .container .box-2 .case-1 {
    width: 125px;
  }
}
@media only screen and (min-width: 1920px) {
  footer .container-2 .container .box-2 .case-1 {
    width: 137px;
  }
}
@media only screen and (max-width: 640px) {
  footer .container-2 .container .box-2 .case-2 {
    width: 144px;
  }
}
@media only screen and (min-width: 640px) {
  footer .container-2 .container .box-2 .case-2 {
    width: 160px;
  }
}
@media only screen and (min-width: 880px) {
  footer .container-2 .container .box-2 .case-2 {
    width: 224px;
  }
}
@media only screen and (min-width: 1280px) {
  footer .container-2 .container .box-2 .case-2 {
    width: 208px;
  }
}
@media only screen and (min-width: 1920px) {
  footer .container-2 .container .box-2 .case-2 {
    width: 286px;
  }
}
@media only screen and (max-width: 640px) {
  footer .container-2 .box .case-1 {
    width: 144px;
  }
}
@media only screen and (min-width: 640px) {
  footer .container-2 .box .case-1 {
    width: 160px;
  }
}
@media only screen and (min-width: 880px) {
  footer .container-2 .box .case-1 {
    width: 160px;
  }
}
@media only screen and (min-width: 1280px) {
  footer .container-2 .box .case-1 {
    width: 208px;
  }
}
@media only screen and (min-width: 1920px) {
  footer .container-2 .box .case-1 {
    width: 180px;
  }
}
@media only screen and (max-width: 640px) {
  footer .container-2 {
    display: block;
  }
}
@media only screen and (min-width: 640px) {
  footer .container-2 {
    display: flex;
  }
}
@media only screen and (max-width: 880px) {
  footer .container-2 {
    justify-content: space-between;
  }
}
@media only screen and (min-width: 880px) {
  footer .container-2 {
    display: block;
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 1280px) {
  footer .container-2 {
    display: flex;
  }
}
@media only screen and (max-width: 640px) {
  footer .container-2 .container {
    margin: 0 0 24px;
  }
}
@media only screen and (min-width: 640px) {
  footer .container-2 .container {
    margin: 0 32px 0 0;
  }
}
@media only screen and (max-width: 880px) {
  footer .container-2 .container {
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 880px) {
  footer .container-2 .container {
    display: block;
    margin: 0 0 32px;
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 1280px) {
  footer .container-2 .container {
    margin: 0 32px 0 0;
  }
}
@media only screen and (max-width: 880px) {
  footer .container-2 .container .box-1 {
    display: block;
    margin: 0 32px 0 0;
  }
}
@media only screen and (min-width: 880px) {
  footer .container-2 .container .box-1 {
    display: flex;
    margin: 0 0 32px;
  }
}
@media only screen and (max-width: 880px) {
  footer .container-2 .container .box-1 .case-1 {
    margin: 0 0 24px;
  }
}
@media only screen and (min-width: 880px) {
  footer .container-2 .container .box-1 .case-1 {
    margin: 0 32px 0 0;
  }
}
@media only screen and (max-width: 880px) {
  footer .container-2 .container .box-2 {
    display: block;
  }
}
@media only screen and (min-width: 880px) {
  footer .container-2 .container .box-2 {
    display: flex;
  }
}
@media only screen and (max-width: 880px) {
  footer .container-2 .container .box-2 .case-1 {
    margin: 0 0 24px;
  }
}
@media only screen and (min-width: 880px) {
  footer .container-2 .container .box-2 .case-1 {
    margin: 0 32px 0 0;
  }
}
@media only screen and (max-width: 640px) {
  footer .container-2 .box {
    display: flex;
  }
}
@media only screen and (min-width: 640px) {
  footer .container-2 .box {
    display: block;
  }
}
@media only screen and (max-width: 880px) {
  footer .container-2 .box {
    justify-content: space-between;
  }
}
@media only screen and (min-width: 880px) {
  footer .container-2 .box {
    display: flex;
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 1280px) {
  footer .container-2 .box {
    display: block;
  }
}
@media only screen and (max-width: 640px) {
  footer .container-2 .box .case-1 {
    margin: 0 32px 0 0;
  }
}
@media only screen and (min-width: 640px) {
  footer .container-2 .box .case-1 {
    margin: 0 0 44px;
  }
}
@media only screen and (min-width: 880px) {
  footer .container-2 .box .case-1 {
    margin: 0 32px 44px 0;
  }
}
@media only screen and (min-width: 1280px) {
  footer .container-2 .box .case-1 {
    margin: 0 0 72px;
  }
}
@media only screen and (min-width: 1920px) {
  footer .container-2 .box .case-1 {
    margin: 0 0 76px;
  }
}

footer .content p.title {
  font-size: 16px;
  font-weight: 500;
}
footer .content p.title_mini {
  font-size: 14px;
  font-weight: 600;
}
footer .content p.text {
  font-size: 14px;
  font-weight: 350;
}
footer .content .container-1 a {
  font-size: 14px;
  font-weight: 600;
}
footer .content .container-1 a {
  text-decoration: none;
}
footer .content .container-1 a:link, footer .content .container-1 a:hover, footer .content .container-1 a:visited {
  color: #d62828;
}

footer {
  position: relative;
  width: 100%;
  background: #F5F5FE;
}
footer img.pattern {
  position: absolute;
  right: 0;
}
footer .content {
  justify-content: space-between;
}
footer .content .container-2 .box .case-2 {
  width: 137px;
}
footer .content .container-2 .box .case-2 img:first-child {
  margin-bottom: 14px;
}
