@import 'media'

footer
  .content
    p.title
      @include font(16px, 'medium')
    p.title_mini
      @include font(14px, 'demi')
    p.text
      @include font(14px, 'book')
    .container-1 a
      @include font(14px, 'demi')
      @include linkStrictlyColor('main')

footer
  position: relative
  width: 100%
  background: #F5F5FE
  img.pattern
    position: absolute
    right: 0

  .content
    justify-content: space-between
    .container-2 .box .case-2
      width: 137px

  .content .container-2 .box .case-2 img:first-child
    margin-bottom: 14px
