footer
  img.pattern
    @include media('max', 's')
      height: 48px
      bottom: 32px
    @include media('min', 's')
      height: 48px
      bottom: 32px
    @include media('min', 'l')
      height: 48px
      bottom: 48px
    @include media('min', 'xl')
      height: 64px
      bottom: 48px
    @include media('min', 'xxl')
      height: 72px

  .content
    @include media('max', 'm')
      padding: 32px 0 104px
    @include media('min', 'm')
      padding: 32px 0 96px
    @include media('max', 'l')
      display: block
    @include media('min', 'l')
      padding: 48px 0
      display: flex
    @include media('min', 'xl')
      padding: 64px 0

  .container-1
    @include media('max', 'l')
      margin: 0 0 24px
    @include media('min', 'l')
      width: 288px
      margin: 0 32px 0 0
    @include media('min', 'xxl')
      width: 498px

  .container-2
    .container
      .box-1
        .case-1
          @include media('max', 'm')
            width: 144px
          @include media('min', 'm')
            width: 160px
          @include media('min', 'l')
            width: 160px
          @include media('min', 'xl')
            width: 128px
          @include media('min', 'xxl')
            width: 134px
        .case-2
          @include media('max', 'm')
            width: 144px
          @include media('min', 'm')
            width: 156px
          @include media('min', 'l')
            width: 224px
          @include media('min', 'xl')
            width: 208px
          @include media('min', 'xxl')
            width: 286px
      .box-2
        .case-1
          @include media('max', 'm')
            width: 144px
          @include media('min', 'm')
            width: 160px
          @include media('min', 'l')
            width: 160px
          @include media('min', 'xl')
            width: 125px
          @include media('min', 'xxl')
            width: 137px
        .case-2
          @include media('max', 'm')
            width: 144px
          @include media('min', 'm')
            width: 160px
          @include media('min', 'l')
            width: 224px
          @include media('min', 'xl')
            width: 208px
          @include media('min', 'xxl')
            width: 286px
    .box
      .case-1
        @include media('max', 'm')
          width: 144px
        @include media('min', 'm')
          width: 160px
        @include media('min', 'l')
          width: 160px
        @include media('min', 'xl')
          width: 208px
        @include media('min', 'xxl')
          width: 180px

  .container-2
    @include media('max', 'm')
      display: block
    @include media('min', 'm')
      display: flex
    @include media('max', 'l')
      justify-content: space-between
    @include media('min', 'l')
      display: block
      justify-content: flex-start
    @include media('min', 'xl')
      display: flex
    .container
      @include media('max', 'm')
        margin: 0 0 24px
      @include media('min', 'm')
        margin: 0 32px 0 0
      @include media('max', 'l')
        display: flex
        justify-content: space-between
      @include media('min', 'l')
        display: block
        margin: 0 0 32px
        justify-content: flex-start
      @include media('min', 'xl')
        margin: 0 32px 0 0
      .box-1
        @include media('max', 'l')
          display: block
          margin: 0 32px 0 0
        @include media('min', 'l')
          display: flex
          margin: 0 0 32px
        .case-1
          @include media('max', 'l')
            margin: 0 0 24px
          @include media('min', 'l')
            margin: 0 32px 0 0

      .box-2
        @include media('max', 'l')
          display: block
        @include media('min', 'l')
          display: flex
        .case-1
          @include media('max', 'l')
            margin: 0 0 24px
          @include media('min', 'l')
            margin: 0 32px 0 0
    .box
      @include media('max', 'm')
        display: flex
      @include media('min', 'm')
        display: block
      @include media('max', 'l')
        justify-content: space-between
      @include media('min', 'l')
        display: flex
        justify-content: flex-start
      @include media('min', 'xl')
        display: block
      .case-1
        @include media('max', 'm')
          margin: 0 32px 0 0
        @include media('min', 'm')
          margin: 0 0 44px
        @include media('min', 'l')
          margin: 0 32px 44px 0
        @include media('min', 'xl')
          margin: 0 0 72px
        @include media('min', 'xxl')
          margin: 0 0 76px
