@import '../../../default'
@import '../../../common/buttons'
@import '../../../common/back_navigation'
@import '../../../common/title_content'
@import 'media'

.product_history
  display: flex
  justify-content: space-between

.product_history .travel_history .element
  background: #F5F5FE
  border-radius: 4px
  display: flex
  justify-content: space-between
  padding: 16px
  width: 100%
  .place_date-box
    margin: 0 0 8px
    p:first-child
      @include font(16px, 'demi')
      margin: 0 0 4px
    p:last-child
      @include font(14px, 'book')
  .card-box
    p:first-child
      @include font(16px, 'demi')
      color: color('main')
      margin: 0 0 4px
    p:last-child
      @include font(14px, 'book')
  .cost-box
    margin: 0 0 0 16px
    p
      @include font(16px, 'demi')
      color: color('main')

.pagination
  ul
    width: 100%
    height: 32px
    display: flex
    li
      height: 32px
      width: 32px
      display: flex
      justify-content: center
      text-align: center
      align-items: center
      @include font(14px, 'book')
      &.numb
        margin: 0 8px
      &.btn.prev
        margin: 0 8px 0 0
      &.btn.next
        margin: 0 0 0 8px
      &.active, &.numb:hover
        @include font-weight('demi')
