.products
  @include media('max', 'l')
    margin: 32px 0 64px
  @include media('min', 'l')
    margin: 40px 0 72px
  @include media('min', 'xl')
    margin: 48px 0 128px
  @include media('min', 'xl')
    margin: 64.66px 0 128px
  .title
    @include media('max', 'l')
      margin: 0 0 66px
    @include media('min', 'l')
      margin: 0 0 69px
    @include media('min', 'xl')
      margin: 0 0 93px
  .items .product
    @include media('max', 'm')
      display: block
    @include media('min', 'm')
      display: flex
    &:not(:last-child)
      @include media('max', 'm')
        margin: 0 0 32px
      @include media('min', 'l')
        margin: 0 0 24px
      @include media('min', 'xxl')
        margin: 0 0 32px
    .card-box
      img
        @include media('max', 'm')
          height: 202px
          width: 100%
        @include media('min', 'm')
          height: 102px
          width: 160px
        @include media('min', 'xl')
          height: 132px
          width: 208px
        @include media('min', 'xxl')
          height: 180px
          width: 286px

    .container
      @include media('max', 'm')
        display: block
      @include media('min', 'l')
        display: flex
      .text-box
        @include media('max', 'm')
          margin: 16px 0 92px
        @include media('min', 'm')
          margin: 0 0 20px 32px
        @include media('min', 'l')
          margin: 0 32px
        h2
          @include media('max', 'l')
            font-size: 20px
            margin: 0 0 4px
          @include media('min', 'l')
            font-size: 24px
            margin: 0 0 8px
          @include media('min', 'xl')
            font-size: 28px
        p
          @include media('max', 'l')
            @include font(14px, 'book')
          @include media('min', 'l')
            @include font(16px, 'book')
          @include media('min', 'xl')
            @include font(18px, 'book')

      .button-box
        button
          @include media('max', 'm')
            width: 100%
            align-self: end
          @include media('min', 'm')
            width: 160px
            float: right
          @include media('min', 'l')
            margin: 100px 0 0
          @include media('min', 'xl')
            width: 128px
            margin: 78px 0 0
          @include media('min', 'xxl')
            width: 180px
            margin: 108px 0 0
