@import 'media'

header
  .content
    display: flex
    justify-content: space-between
    padding-top: 40px
  //--------------------------------------------------------------------------
  .left-box
    display: flex
    .logos-box
      display: flex
      img.logo
        max-width: 100%
        max-height: 100%
        display: block
    .line
      border-left: 2px solid red
      height: 54px
      margin: 0 auto
    .title-box
      .link_strictly_color_secondary
        @include linkStrictlyColor('secondary')
  //--------------------------------------------------------------------------
  .middle-box
    .contacts-box
      .link_strictly_color_main
        @include linkStrictlyColor('main')
      .phone
        font-size: 18px
        line-height: 28px
      .operators
        display: flex
        @include font(14px, 'medium')
        line-height: 20px
        span
          color: color('tertiary')
      .link
        @include font(14px, 'book')
        line-height: 20px
        color: color('main')
  //--------------------------------------------------------------------------
  .right-box
    display: flex
    align-items: center
    a
      display: flex
      @include linkStrictlyColor('secondary')
    h4
      padding-left: 16px
      margin: auto 0
    img
      height: 48px
    .line
      border-left: 1px solid #E5E5E5
      height: 30px
    button
      border: none
      background: transparent
      margin: 0
      padding: 0
      @include font(16px, 'demi')
      color: color('main')
