header
  .content
    @include media('max', 'l')
      height: 56px
    @include media('min', 'l')
      height: 64px
    @include media('min', 'xl')
      height: 72px
    @include media('min', 'xxl')
      height: 81.34px

  .left-box
    .logos-box
      @include media('max', 'l')
        width: 117.44px
      @include media('min', 'l')
        width: 134.22px
      @include media('min', 'xl')
        width: 151px
      @include media('min', 'xxl')
        width: 170.91px
    .title-box
      @include media('max', 'm')
        display: none
      @include media('min', 'm')
        display: block
        margin: auto 0 auto 25.78px
        h3
          font-size: 16px
      @include media('min', 'l')
        margin: auto 0 auto 56.89px
        h3
          font-size: 18px
      @include media('min', 'xl')
        margin: auto 0 auto 33px
        h3
          font-size: 20px
      @include media('min', 'xxl')
        margin: auto 0 auto 41.09px

  .middle-box
    @include media('max', 'l')
      display: none
    @include media('min', 'l')
      display: block

  .right-box
    @include media('max', 'l')
      .user-box
        display: none
      .burger
        display: block
    @include media('min', 'l')
      .user-box
        display: flex
        .account-box h4
          display: none
        .line
          margin: auto 8px
      .burger
        display: none
    @include media('min', 'xl')
      .user-box
        .account-box h4
          display: block
        .line
          margin: auto 8px
    @include media('min', 'xxl')
      .right-box
        .line
          margin: auto 24px
