.back_navigation
  @include media('max', 'm')
    margin: 40px 0px 32px
  @include media('min', 'm')
    margin: 40px 0px 40px
  @include media('min', 'l')
    margin: 48px 0px 40px
  @include media('min', 'xl')
    margin: 63px 0px 48px
  @include media('min', 'xl')
    margin: 96.66px 0px 48px
