.button_main
  border: 0
  border-radius: 4px
  background: color('main')
  color: color('light')
  @include font(14px, 'demi')
  padding: 16px
  //height: 52px

.button_back-nav
  border: 0
  border-radius: 4px
  background: color('main', 0.16)
  color: color('main')
  @include font(14px, 'demi')
  padding: 12px 16px 12px 12px
  display: flex
  img
    align-self: center
    margin-right: 8px
