@charset "UTF-8";
@font-face {
  font-family: "FuturaPT";
  src: url(/fonts/FuturaPT-Book.eot?55bc418ad8b9ed8d577cf4a6337a678e);
  src: local("☺"), url(/fonts/FuturaPT-Book.woff?b5e3a9b543df20c48a32d9ddeee1296b) format("woff"), url(/fonts/FuturaPT-Book.ttf?16ebcf48c36cedf12d82ee9e88a1cecf) format("truetype"), url(/fonts/FuturaPT-Book.svg?05a7613c319a05a044cdc8d568a759a3) format("svg");
  font-weight: 350;
  font-style: normal;
}
@font-face {
  font-family: "FuturaPT";
  src: url(/fonts/FuturaPT-Medium.eot?6546797acac1a68aa930f164ebc8ed4e);
  src: local("☺"), url(/fonts/FuturaPT-Medium.woff?484aaf20e2f386456543a4c0446e9d02) format("woff"), url(/fonts/FuturaPT-Medium.ttf?4ab635fb83b15f9e3627a53b063a97e1) format("truetype"), url(/fonts/FuturaPT-Medium.svg?1274940c18b387d440efaa3e514d5681) format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "FuturaPT";
  src: url(/fonts/FuturaPT-Demi.eot?a31567d0e61a549f875514072520c2fb);
  src: local("☺"), url(/fonts/FuturaPT-Demi.woff?620da53299c7d8d6e9aac79edc4b0cfa) format("woff"), url(/fonts/FuturaPT-Demi.ttf?626ca5d4172bb348ed1ad35150a49507) format("truetype"), url(/fonts/FuturaPT-Demi.svg?f919a697a10d74024b0487819eeac303) format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "FuturaPT";
  src: url(/fonts/FuturaPT-Bold.eot?c1c93dd4b376a2f9e9124e4be45a2535);
  src: local("☺"), url(/fonts/FuturaPT-Bold.woff?51c41b1b1b9b00c0652f756cfc053e77) format("woff"), url(/fonts/FuturaPT-Bold.ttf?30a810fad83f1237882bde24bf9ef8a8) format("truetype"), url(/fonts/FuturaPT-Bold.svg?f9612ae9b7801329eeb8bfb98caa9d94) format("svg");
  font-weight: 700;
  font-style: normal;
}
@media only screen and (max-width: 880px) {
  #content {
    width: 90%;
  }
}
@media only screen and (min-width: 880px) {
  #content {
    width: 735.11px;
  }
}
@media only screen and (min-width: 1280px) {
  #content {
    width: 928px;
  }
}
@media only screen and (min-width: 1920px) {
  #content {
    width: 1240px;
  }
}

.button_main {
  border: 0;
  border-radius: 4px;
  background: #d62828;
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 16px;
}

.button_back-nav {
  border: 0;
  border-radius: 4px;
  background: rgba(214, 40, 40, 0.16);
  color: #d62828;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 16px 12px 12px;
  display: flex;
}
.button_back-nav img {
  align-self: center;
  margin-right: 8px;
}

@media only screen and (max-width: 640px) {
  .back_navigation {
    margin: 40px 0px 32px;
  }
}
@media only screen and (min-width: 640px) {
  .back_navigation {
    margin: 40px 0px 40px;
  }
}
@media only screen and (min-width: 880px) {
  .back_navigation {
    margin: 48px 0px 40px;
  }
}
@media only screen and (min-width: 1280px) {
  .back_navigation {
    margin: 63px 0px 48px;
  }
}
@media only screen and (min-width: 1280px) {
  .back_navigation {
    margin: 96.66px 0px 48px;
  }
}

@media only screen and (max-width: 1280px) {
  .title_content {
    margin: 0 0 24px;
  }
}
@media only screen and (min-width: 1280px) {
  .title_content {
    margin: 0 0 32px;
  }
}

@media only screen and (max-width: 1280px) {
  .product_detail .title_desc {
    margin: 0 0 16px 0;
  }
}
@media only screen and (min-width: 1280px) {
  .product_detail .title_desc {
    margin: 0 0 24px 0;
  }
}
@media only screen and (max-width: 880px) {
  .product_detail .title_desc p {
    font-size: 14px;
  }
}
@media only screen and (min-width: 880px) {
  .product_detail .title_desc p {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1280px) {
  .product_detail .title_desc p {
    font-size: 18px;
  }
}
@media only screen and (max-width: 880px) {
  .product_detail .buy_form {
    margin: 0;
  }
}
@media only screen and (min-width: 880px) {
  .product_detail .buy_form {
    margin: 0 128px 0 0;
  }
}
@media only screen and (max-width: 640px) {
  .product_detail .buy_form .selections-box {
    display: block;
  }
}
@media only screen and (min-width: 640px) {
  .product_detail .buy_form .selections-box {
    display: flex;
  }
}
@media only screen and (max-width: 1280px) {
  .product_detail .buy_form .selections-box {
    margin: 0 0 16px;
  }
}
@media only screen and (min-width: 1280px) {
  .product_detail .buy_form .selections-box {
    margin: 0 0 32px;
  }
}
@media only screen and (max-width: 640px) {
  .product_detail .buy_form .select-box:first-child {
    margin: 0 0 16px;
  }
}
@media only screen and (min-width: 640px) {
  .product_detail .buy_form .select-box:first-child {
    margin: 0 32px 0 0;
  }
}
@media only screen and (max-width: 880px) {
  .product_detail .buy_form .total-box p:first-child {
    font-size: 14px;
  }
}
@media only screen and (min-width: 880px) {
  .product_detail .buy_form .total-box p:first-child {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1280px) {
  .product_detail .buy_form .total-box p:first-child {
    font-size: 18px;
  }
}
@media only screen and (max-width: 880px) {
  .product_detail .buy_form .total-box p:not(:first-child) {
    font-size: 20px;
  }
}
@media only screen and (min-width: 880px) {
  .product_detail .buy_form .total-box p:not(:first-child) {
    font-size: 24px;
  }
}
@media only screen and (min-width: 1280px) {
  .product_detail .buy_form .total-box p:not(:first-child) {
    font-size: 28px;
  }
}
@media only screen and (max-width: 880px) {
  .product_detail .price_element p.title, .product_detail .price_element h3 {
    font-size: 16px;
  }
}
@media only screen and (min-width: 880px) {
  .product_detail .price_element p.title, .product_detail .price_element h3 {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1280px) {
  .product_detail .price_element p.title, .product_detail .price_element h3 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 880px) {
  .product_detail {
    margin: 0 0 64px;
  }
}
@media only screen and (min-width: 880px) {
  .product_detail {
    margin: 0 0 72px;
  }
}
@media only screen and (min-width: 1280px) {
  .product_detail {
    margin: 0 0 128px;
  }
}
@media only screen and (max-width: 1920px) {
  .product_detail {
    width: 100%;
  }
}
@media only screen and (min-width: 1920px) {
  .product_detail {
    width: 922px;
  }
}
@media only screen and (max-width: 1280px) {
  .product_detail .top-box {
    margin: 0 0 48px;
  }
}
@media only screen and (min-width: 1280px) {
  .product_detail .top-box {
    margin: 0 0 64px;
  }
}
@media only screen and (max-width: 640px) {
  .product_detail .top-box .card-box {
    display: block;
  }
}
@media only screen and (min-width: 640px) {
  .product_detail .top-box .card-box {
    display: flex;
  }
}
@media only screen and (max-width: 1280px) {
  .product_detail .top-box .card-box {
    margin: 0 0 32px;
  }
}
@media only screen and (min-width: 1280px) {
  .product_detail .top-box .card-box {
    margin: 0 0 48px;
  }
}
@media only screen and (max-width: 640px) {
  .product_detail .top-box .card-box img {
    height: 202px;
    width: 100%;
  }
}
@media only screen and (min-width: 640px) {
  .product_detail .top-box .card-box img {
    height: 102px;
    width: 160px;
  }
}
@media only screen and (min-width: 880px) {
  .product_detail .top-box .card-box img {
    height: 142px;
    width: 224px;
  }
}
@media only screen and (min-width: 1280px) {
  .product_detail .top-box .card-box img {
    height: 182px;
    width: 288px;
  }
}
@media only screen and (min-width: 1280px) {
  .product_detail .top-box .card-box img {
    height: 248px;
    width: 392px;
  }
}
@media only screen and (max-width: 640px) {
  .product_detail .top-box .card-box p {
    margin: 24px 0 0;
  }
}
@media only screen and (min-width: 640px) {
  .product_detail .top-box .card-box p {
    margin: 0 0 0 32px;
  }
}
@media only screen and (max-width: 880px) {
  .product_detail .top-box .card-box p {
    font-size: 14px;
  }
}
@media only screen and (min-width: 880px) {
  .product_detail .top-box .card-box p {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1280px) {
  .product_detail .top-box .card-box p {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1280px) {
  .product_detail .price_elements:not(:last-child) {
    margin: 0 0 32px;
  }
}
@media only screen and (min-width: 1280px) {
  .product_detail .price_elements:not(:last-child) {
    margin: 0 0 48px;
  }
}

.product_detail .title_desc p {
  margin: 16px 0 0;
  font-weight: 350;
}
.product_detail .buy_form .selections-box {
  justify-content: space-between;
}
.product_detail .buy_form .select-box {
  width: 100%;
}
.product_detail .buy_form .select-box p {
  font-size: 14px;
  font-weight: 500;
  margin: 0 0 6px 12px;
}
.product_detail .buy_form .select-box .select-border {
  padding: 12px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
}
.product_detail .buy_form .select-box select {
  border: 0;
  font-size: 14px;
  font-weight: 350;
  width: 100%;
}
.product_detail .buy_form .total-box {
  display: flex;
  justify-content: space-between;
}
.product_detail .buy_form .total-box p:first-child {
  font-weight: 350;
}
.product_detail .buy_form .total-box p:not(:first-child) {
  font-weight: 600;
}
.product_detail .buy_form .total-box button {
  margin: 4px;
  width: 180px;
}
.product_detail .price_element {
  display: flex;
  justify-content: space-between;
}
.product_detail .price_element .desc-box {
  margin: 0 16px 0 0;
}
.product_detail .price_element p.title {
  margin: 0 0 4px;
  font-weight: 600;
}
.product_detail .price_element p.desc {
  font-size: 14px;
  font-weight: 350;
  color: #777777;
}
.product_detail .price_element .price-box {
  flex-shrink: 0;
}
.product_detail .price_element h3 {
  color: #d62828;
}

.product_detail .desc-box .card-box p {
  font-weight: 350;
}
.product_detail .price_elements hr {
  margin: 16px 0;
  border: 0;
  border-top: 1px solid #F5F5FE;
}

@media only screen and (max-width: 1280px) {
  .product_detail .title_desc {
    margin: 0 0 16px 0;
  }
}
@media only screen and (min-width: 1280px) {
  .product_detail .title_desc {
    margin: 0 0 24px 0;
  }
}
@media only screen and (max-width: 880px) {
  .product_detail .title_desc p {
    font-size: 14px;
  }
}
@media only screen and (min-width: 880px) {
  .product_detail .title_desc p {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1280px) {
  .product_detail .title_desc p {
    font-size: 18px;
  }
}
