@charset "UTF-8";
@font-face {
  font-family: "FuturaPT";
  src: url(/fonts/FuturaPT-Book.eot?55bc418ad8b9ed8d577cf4a6337a678e);
  src: local("☺"), url(/fonts/FuturaPT-Book.woff?b5e3a9b543df20c48a32d9ddeee1296b) format("woff"), url(/fonts/FuturaPT-Book.ttf?16ebcf48c36cedf12d82ee9e88a1cecf) format("truetype"), url(/fonts/FuturaPT-Book.svg?05a7613c319a05a044cdc8d568a759a3) format("svg");
  font-weight: 350;
  font-style: normal;
}
@font-face {
  font-family: "FuturaPT";
  src: url(/fonts/FuturaPT-Medium.eot?6546797acac1a68aa930f164ebc8ed4e);
  src: local("☺"), url(/fonts/FuturaPT-Medium.woff?484aaf20e2f386456543a4c0446e9d02) format("woff"), url(/fonts/FuturaPT-Medium.ttf?4ab635fb83b15f9e3627a53b063a97e1) format("truetype"), url(/fonts/FuturaPT-Medium.svg?1274940c18b387d440efaa3e514d5681) format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "FuturaPT";
  src: url(/fonts/FuturaPT-Demi.eot?a31567d0e61a549f875514072520c2fb);
  src: local("☺"), url(/fonts/FuturaPT-Demi.woff?620da53299c7d8d6e9aac79edc4b0cfa) format("woff"), url(/fonts/FuturaPT-Demi.ttf?626ca5d4172bb348ed1ad35150a49507) format("truetype"), url(/fonts/FuturaPT-Demi.svg?f919a697a10d74024b0487819eeac303) format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "FuturaPT";
  src: url(/fonts/FuturaPT-Bold.eot?c1c93dd4b376a2f9e9124e4be45a2535);
  src: local("☺"), url(/fonts/FuturaPT-Bold.woff?51c41b1b1b9b00c0652f756cfc053e77) format("woff"), url(/fonts/FuturaPT-Bold.ttf?30a810fad83f1237882bde24bf9ef8a8) format("truetype"), url(/fonts/FuturaPT-Bold.svg?f9612ae9b7801329eeb8bfb98caa9d94) format("svg");
  font-weight: 700;
  font-style: normal;
}
@media only screen and (max-width: 880px) {
  #content {
    width: 90%;
  }
}
@media only screen and (min-width: 880px) {
  #content {
    width: 735.11px;
  }
}
@media only screen and (min-width: 1280px) {
  #content {
    width: 928px;
  }
}
@media only screen and (min-width: 1920px) {
  #content {
    width: 1240px;
  }
}

.button_main {
  border: 0;
  border-radius: 4px;
  background: #d62828;
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 16px;
}

.button_back-nav {
  border: 0;
  border-radius: 4px;
  background: rgba(214, 40, 40, 0.16);
  color: #d62828;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 16px 12px 12px;
  display: flex;
}
.button_back-nav img {
  align-self: center;
  margin-right: 8px;
}

@media only screen and (max-width: 640px) {
  .back_navigation {
    margin: 40px 0px 32px;
  }
}
@media only screen and (min-width: 640px) {
  .back_navigation {
    margin: 40px 0px 40px;
  }
}
@media only screen and (min-width: 880px) {
  .back_navigation {
    margin: 48px 0px 40px;
  }
}
@media only screen and (min-width: 1280px) {
  .back_navigation {
    margin: 63px 0px 48px;
  }
}
@media only screen and (min-width: 1280px) {
  .back_navigation {
    margin: 96.66px 0px 48px;
  }
}

@media only screen and (max-width: 1280px) {
  .title_content {
    margin: 0 0 24px;
  }
}
@media only screen and (min-width: 1280px) {
  .title_content {
    margin: 0 0 32px;
  }
}

.product_history {
  display: flex;
  justify-content: space-between;
}

.product_history .travel_history .element {
  background: #F5F5FE;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  width: 100%;
}
.product_history .travel_history .element .place_date-box {
  margin: 0 0 8px;
}
.product_history .travel_history .element .place_date-box p:first-child {
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 4px;
}
.product_history .travel_history .element .place_date-box p:last-child {
  font-size: 14px;
  font-weight: 350;
}
.product_history .travel_history .element .card-box p:first-child {
  font-size: 16px;
  font-weight: 600;
  color: #d62828;
  margin: 0 0 4px;
}
.product_history .travel_history .element .card-box p:last-child {
  font-size: 14px;
  font-weight: 350;
}
.product_history .travel_history .element .cost-box {
  margin: 0 0 0 16px;
}
.product_history .travel_history .element .cost-box p {
  font-size: 16px;
  font-weight: 600;
  color: #d62828;
}

.pagination ul {
  width: 100%;
  height: 32px;
  display: flex;
}
.pagination ul li {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 14px;
  font-weight: 350;
}
.pagination ul li.numb {
  margin: 0 8px;
}
.pagination ul li.btn.prev {
  margin: 0 8px 0 0;
}
.pagination ul li.btn.next {
  margin: 0 0 0 8px;
}
.pagination ul li.active, .pagination ul li.numb:hover {
  font-weight: 600;
}
