@charset "UTF-8";
@font-face {
  font-family: "FuturaPT";
  src: url(/fonts/FuturaPT-Book.eot?55bc418ad8b9ed8d577cf4a6337a678e);
  src: local("☺"), url(/fonts/FuturaPT-Book.woff?b5e3a9b543df20c48a32d9ddeee1296b) format("woff"), url(/fonts/FuturaPT-Book.ttf?16ebcf48c36cedf12d82ee9e88a1cecf) format("truetype"), url(/fonts/FuturaPT-Book.svg?05a7613c319a05a044cdc8d568a759a3) format("svg");
  font-weight: 350;
  font-style: normal;
}
@font-face {
  font-family: "FuturaPT";
  src: url(/fonts/FuturaPT-Medium.eot?6546797acac1a68aa930f164ebc8ed4e);
  src: local("☺"), url(/fonts/FuturaPT-Medium.woff?484aaf20e2f386456543a4c0446e9d02) format("woff"), url(/fonts/FuturaPT-Medium.ttf?4ab635fb83b15f9e3627a53b063a97e1) format("truetype"), url(/fonts/FuturaPT-Medium.svg?1274940c18b387d440efaa3e514d5681) format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "FuturaPT";
  src: url(/fonts/FuturaPT-Demi.eot?a31567d0e61a549f875514072520c2fb);
  src: local("☺"), url(/fonts/FuturaPT-Demi.woff?620da53299c7d8d6e9aac79edc4b0cfa) format("woff"), url(/fonts/FuturaPT-Demi.ttf?626ca5d4172bb348ed1ad35150a49507) format("truetype"), url(/fonts/FuturaPT-Demi.svg?f919a697a10d74024b0487819eeac303) format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "FuturaPT";
  src: url(/fonts/FuturaPT-Bold.eot?c1c93dd4b376a2f9e9124e4be45a2535);
  src: local("☺"), url(/fonts/FuturaPT-Bold.woff?51c41b1b1b9b00c0652f756cfc053e77) format("woff"), url(/fonts/FuturaPT-Bold.ttf?30a810fad83f1237882bde24bf9ef8a8) format("truetype"), url(/fonts/FuturaPT-Bold.svg?f9612ae9b7801329eeb8bfb98caa9d94) format("svg");
  font-weight: 700;
  font-style: normal;
}
@media only screen and (max-width: 880px) {
  #content {
    width: 90%;
  }
}
@media only screen and (min-width: 880px) {
  #content {
    width: 735.11px;
  }
}
@media only screen and (min-width: 1280px) {
  #content {
    width: 928px;
  }
}
@media only screen and (min-width: 1920px) {
  #content {
    width: 1240px;
  }
}

.button_main {
  border: 0;
  border-radius: 4px;
  background: #d62828;
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 16px;
}

.button_back-nav {
  border: 0;
  border-radius: 4px;
  background: rgba(214, 40, 40, 0.16);
  color: #d62828;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 16px 12px 12px;
  display: flex;
}
.button_back-nav img {
  align-self: center;
  margin-right: 8px;
}

@media only screen and (max-width: 880px) {
  .products {
    margin: 32px 0 64px;
  }
}
@media only screen and (min-width: 880px) {
  .products {
    margin: 40px 0 72px;
  }
}
@media only screen and (min-width: 1280px) {
  .products {
    margin: 48px 0 128px;
  }
}
@media only screen and (min-width: 1280px) {
  .products {
    margin: 64.66px 0 128px;
  }
}
@media only screen and (max-width: 880px) {
  .products .title {
    margin: 0 0 66px;
  }
}
@media only screen and (min-width: 880px) {
  .products .title {
    margin: 0 0 69px;
  }
}
@media only screen and (min-width: 1280px) {
  .products .title {
    margin: 0 0 93px;
  }
}
@media only screen and (max-width: 640px) {
  .products .items .product {
    display: block;
  }
}
@media only screen and (min-width: 640px) {
  .products .items .product {
    display: flex;
  }
}
@media only screen and (max-width: 640px) {
  .products .items .product:not(:last-child) {
    margin: 0 0 32px;
  }
}
@media only screen and (min-width: 880px) {
  .products .items .product:not(:last-child) {
    margin: 0 0 24px;
  }
}
@media only screen and (min-width: 1920px) {
  .products .items .product:not(:last-child) {
    margin: 0 0 32px;
  }
}
@media only screen and (max-width: 640px) {
  .products .items .product .card-box img {
    height: 202px;
    width: 100%;
  }
}
@media only screen and (min-width: 640px) {
  .products .items .product .card-box img {
    height: 102px;
    width: 160px;
  }
}
@media only screen and (min-width: 1280px) {
  .products .items .product .card-box img {
    height: 132px;
    width: 208px;
  }
}
@media only screen and (min-width: 1920px) {
  .products .items .product .card-box img {
    height: 180px;
    width: 286px;
  }
}
@media only screen and (max-width: 640px) {
  .products .items .product .container {
    display: block;
  }
}
@media only screen and (min-width: 880px) {
  .products .items .product .container {
    display: flex;
  }
}
@media only screen and (max-width: 640px) {
  .products .items .product .container .text-box {
    margin: 16px 0 92px;
  }
}
@media only screen and (min-width: 640px) {
  .products .items .product .container .text-box {
    margin: 0 0 20px 32px;
  }
}
@media only screen and (min-width: 880px) {
  .products .items .product .container .text-box {
    margin: 0 32px;
  }
}
@media only screen and (max-width: 880px) {
  .products .items .product .container .text-box h2 {
    font-size: 20px;
    margin: 0 0 4px;
  }
}
@media only screen and (min-width: 880px) {
  .products .items .product .container .text-box h2 {
    font-size: 24px;
    margin: 0 0 8px;
  }
}
@media only screen and (min-width: 1280px) {
  .products .items .product .container .text-box h2 {
    font-size: 28px;
  }
}
@media only screen and (max-width: 880px) {
  .products .items .product .container .text-box p {
    font-size: 14px;
    font-weight: 350;
  }
}
@media only screen and (min-width: 880px) {
  .products .items .product .container .text-box p {
    font-size: 16px;
    font-weight: 350;
  }
}
@media only screen and (min-width: 1280px) {
  .products .items .product .container .text-box p {
    font-size: 18px;
    font-weight: 350;
  }
}
@media only screen and (max-width: 640px) {
  .products .items .product .container .button-box button {
    width: 100%;
    align-self: end;
  }
}
@media only screen and (min-width: 640px) {
  .products .items .product .container .button-box button {
    width: 160px;
    float: right;
  }
}
@media only screen and (min-width: 880px) {
  .products .items .product .container .button-box button {
    margin: 100px 0 0;
  }
}
@media only screen and (min-width: 1280px) {
  .products .items .product .container .button-box button {
    width: 128px;
    margin: 78px 0 0;
  }
}
@media only screen and (min-width: 1920px) {
  .products .items .product .container .button-box button {
    width: 180px;
    margin: 108px 0 0;
  }
}

.products .items .product {
  width: 100%;
}
